body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: ;
}
.nav-link{
    text-transform: uppercase;
    font-weight: bold;
    color: aqua;
}
.nav{
    background-color:#596275;
}
.nav-link:hover{
    color:#f8a5c2;
}
.content {

}
.left{
     float: left;
     background-color:#25CCF7;
}
.right{
    height: 100px;
    background-color: #f8a5c2;
    overflow: hidden;
}
.img-fluid{
    margin: 20px 10px 10px 0 ;
    width: 30%;
    border: 0.5px solid;
    border-radius: 45%;
    float: left;
   
}
.leka{
    padding: 5px;
    overflow: hidden;
    text-align: justify;
    margin-top: 120px;
}

